export DB_USERNAME="{{ oracle_db_user }}"
export DB_PASSWORD="{{ oracle_db_password }}"
export DB_CONNECT_STRING="{{ oracle_db_host }}:{{ oracle_db_port }}/{{ oracle_db_service }}"
export NLS_LANG="AMERICAN_AMERICA.AL32UTF8"
