export DB_USERNAME="{{ item.db_user }}"
export DB_PASSWORD="{{ item.db_password }}"
export DB_CONNECT_STRING="{{ item.db_host }}:{{ item.db_port }}/{{ item.db_service }}"
export NLS_LANG="AMERICAN_AMERICA.AL32UTF8"
