[Unit]
Description=OracleDB Exporter {{ item.name }} (Prometheus)
Documentation=https://github.com/oracle/oracle-db-appdev-monitoring
After=network.target

[Service]
Type=simple
User={{ exporter_user }}
Group={{ exporter_group }}
Environment=DB_USERNAME={{ item.db_user }}
Environment=DB_PASSWORD={{ item.db_password }}
Environment=DB_CONNECT_STRING={{ item.db_host }}:{{ item.db_port }}/{{ item.db_service }}
Environment=NLS_LANG=AMERICAN_AMERICA.AL32UTF8
ExecStart={{ exporter_bin_dir }}/oracledb_exporter \
    --default.metrics {{ exporter_config_dir }}/{{ item.name }}/default-metrics.toml \
    --log.level error \
    --web.listen-address {{ exporter_listen }}:{{ item.exporter_port }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
