[Unit]
Description=OracleDB Exporter (Prometheus)
Documentation=https://github.com/oracle/oracle-db-appdev-monitoring
After=network.target

[Service]
Type=simple
User={{ exporter_user }}
Group={{ exporter_group }}
Environment=DB_USERNAME={{ oracle_db_user }}
Environment=DB_PASSWORD={{ oracle_db_password }}
Environment=DB_CONNECT_STRING={{ oracle_db_host }}:{{ oracle_db_port }}/{{ oracle_db_service }}
Environment=NLS_LANG=AMERICAN_AMERICA.AL32UTF8
ExecStart={{ exporter_bin_dir }}/oracledb_exporter \
    --log.level error \
    --web.listen-address {{ exporter_listen_address }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
